// Place all the styles related to the Toppages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Kosugi Maru', sans-serif;
}


a {
  text-decoration: none;
  transition: all .1s;
  &:hover {
    color: red;
  }
}

.container {
  padding-top: 20px;
}
