<h1>Pokemon Travel</h1>
<p>
  <%= image_tag "/pokemon_images/spr/#{random_spr}MS.png" %>
  素晴らしきポケモン世界
</p>
<p>
  <%= image_tag "/pokemon_images/spr/#{random_spr}MS.png" %>
  This is memory pokemon games
</p>
<h2>Ranking</h2>
<div class="row">
</div>
