<div class="row">
  <div class="col-lg-6">
    <%= render 'form_party' %>
  </div>
</div>
<% @poke_name.each do |poke| %>
  <%= image_tag "/pokemon_images/spr/#{select_spr(poke[1])}MS.png" %>
<% end %>
