// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input[type=checkbox] {
	display: none; 	/* ラジオボタンを非表示にする */
}

.label {
	display: block;		/* ブロックレベル要素化する */
	float: left;		/* 要素の左寄せ・回り込を指定する */
	line-height: 10px;	/* 行の高さを指定する */
	cursor: pointer;	/* マウスカーソルの形（リンクカーソル）を指定する */

}

input[type="checkbox"]:checked + label {
	background: #31A9EE;/* マウス選択時の背景色を指定する */
  border-radius: 10px;
}

.label:hover {
	background-color: #E2EDF9; 	/* マウスオーバー時の背景色を指定する */
  border-radius: 10px;
}
